<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="bw-runtime">
<locations>

<location path="/C:/tibco/6.3/bw/palettes/ldap/7.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/6.3/bw/palettes/ldap/7.1//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/6.3/bw/palettes/oracleebs/6.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/6.3/bw/palettes/oracleebs/6.1//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/6.3/bw/palettes/sap/8.1//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/6.3/bw/palettes/sap/8.1//runtime/plugins" type="Directory"/>
<location path="/C:/tibco/6.3/bw/palettes/oracleebs/6.1/runtime/oracleebs.thirdparty.runtime//hotfix/runtime/plugins" type="Directory"/>
<location path="/C:/tibco/6.3/bw/palettes/oracleebs/6.1/runtime/oracleebs.thirdparty.runtime//runtime/plugins" type="Directory"/>


<location path="C:/tibco/6.3/bw/6.3/system/hotfix/lib/common" type="Directory"/>
<location path="C:/tibco/6.3/bw/6.3/system/lib/common" type="Directory"/>

<location path="C:/tibco/6.3/bw/6.3/system/hotfix/palettes" type="Directory"/>
<location path="C:/tibco/6.3/bw/6.3/system/palettes" type="Directory"/>

<location path="C:/tibco/6.3/bw/6.3/system/hotfix/shared" type="Directory"/>
<location path="C:/tibco/6.3/bw/6.3/system/shared" type="Profile"/>
</locations>
</target>
